@using NerderyKaraoke.UI.Models.SongRequest
@model EditViewModel
@{
	ViewBag.Title = "Edit";
}

<h2>Edit a Song!</h2>

@using (Html.BeginForm("Edit", "SongRequest", FormMethod.Post))
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		@Html.ValidationSummary(true, "", new { @class = "text-danger"})

		@Html.EditorForModel("SongRequest.EditViewModel")

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<button class="btn btn-info" type="submit">Update</button>
				@Html.ActionLink("Cancel", "Index", "Admin", null, new { @class="btn btn-default"})
			</div>
		</div>
	</div>
}

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
