@model IEnumerable<NerderyKaroke.Models.Song>

@{
    ViewBag.Title = "Song List";
}

<h2>Index</h2>

@if (Model.Any())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SingerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SongTitle)
            </th>
        </tr>
   
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SingerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SongTitle)
                </td>
            </tr>
        }
    
</table>
}
else
{
    <h3>No songs found. Go submit one already!</h3>
}

<button class="btn btn-info" type="button" id="submitSong"onclick="location.href='@Url.Action("Index", "Submit")'">Submit Song</button>